# Environnement
.env
.env.*

# Référencement
robots.txt
sitemap.xml

#Backup BDD
bdd_export_*.sql

# Développement
memos_dev.txt

# WAMP
/wamp64/
/tmp/

# Dépendances PHP (si jamais)
vendor/

# Logs
*.log

# Fichiers système
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/