/* Desktop large */

html, body {
        max-width: 1400px;
        margin: auto;
    }

main {
        max-width: 1400px;
    }

.hero-section {
    flex-wrap: nowrap;
    margin: 30px;
    padding: 30px;
}

.login-container {
    max-width: 50%;
    margin: 30px auto;
    padding: 30px;
}