/* Desktop large */

html, body {
        max-width: 1400px;
        margin: auto;
    }


main {
        max-width: 1400px;
    }

.hero-section {
    flex-wrap: nowrap;
    margin: 30px;
    padding: 30px;
}


/* Styles pour écrans < 1060px */
@media screen and (max-width: 1060px) {
    .stream-btn {
        display: flex;
        width: 70%;
    }
}

.login-container {
    max-width: 50%;
    margin: 30px auto;
    padding: 30px;
}